snippet fig "Figure environment (custom)" b
\begin{figure}[${1:htpb}]
	\centering
	\includegraphics[width=${2:0.8\linewidth}]{${3:name.ext}}
	\caption{$4}\label{fig:${3/figures\/(\w+)\.\w+/$1/}}
\end{figure}
$0
endsnippet

snippet figure "insert refence to figure" b
Figure~\ref{fig:$1} $0
endsnippet

snippet eq "block equation with label" b
\begin{equation}
	$0
	\label{eq:$1}
\end{equation}
endsnippet
