snippet review "literature review page" bm
= info =
title: ${1:title}
author: ${2:authors}
year: ${3:year}

= content =
== synopsis ==


== criticisms ==


== conclusions ==


= notes =
* $0
endsnippet
